.card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, auto);
  gap: 10px;
  padding: 20px;
}

.img {
  width: 150px;
  height: 150px;
  transition: none;
}

.resultados_contenedor {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 14px;
  border-radius: 5px;
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s, backgroud-color 0.3s;
}

.resultados_contenedor :hover {
  transform: scale(1.05);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(
    0,
    0,
    0,
    0.7
  ); /* Color del overlay (semi-transparente) */
  color: white;
  font-size: 18px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none; /* Para que el hover no interfiera */
}

.resultados_contenedor:hover .overlay {
  opacity: 1;
}

.resultados_contenedor img,
h3,
p {
  transition: none;
}
