/*   ------    Principal -------*/

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url("../img/Museo_por_fuera.jpg");
  background-size: cover; /* Cubre toda la página */
  background-position: center;
  background-attachment: fixed; /* Imagen de fondo fija */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

/* -------------- Formulario .---------- */
.form-contenedor {
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Fondo blanco semitransparente */
  padding: 20px;
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
  width: 60vh; /* Ancho del contenedor */
  max-width: 90%; /* Asegura que se adapte a pantallas pequeñas */
  text-align: center;
}

#formulario {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#formulario input,
#formulario select,
#formulario button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%; /* Ocupa todo el ancho disponible */
}

#boton {
  background-color: #87cefa;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#boton:hover {
  background-color: #00bfff; /* Cambio de color al pasar el mouse */
}

/* -------------- Card ------------------*/
.card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, auto);
  gap: 10px;
  padding: 20px;
}

.img {
  width: 150px;
  height: 150px;
  transition: none;
}

.resultados_contenedor {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 14px;
  border-radius: 5px;
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s, backgroud-color 0.3s;
}

.resultados_contenedor :hover {
  transform: scale(1.05);
}

/* -------------- Overlay --------------*/
.overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(
    0,
    0,
    0,
    0.8
  ); /* Color del overlay (semi-transparente) */
  color: white;
  font-size: 18px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: auto; /* Para que el hover no interfiera */
}

.resultados_contenedor:hover .overlay {
  opacity: 1;
}

.resultados_contenedor img,
h3,
p {
  transition: none;
}

/* ------------------- boton detalle --------------------------*/
.boton-detalle {
  position: relative;
  z-index: 45;
  background-color: #87cefa; /* Color celeste */
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 150px; /* Espacio para que el botón quede abajo */
  opacity: 0;
  transition: opacity 0.3s;
}

.resultados_contenedor:hover .boton-detalle {
  opacity: 1; /* Mostrar el botón al hacer hover */
}

.boton-detalle:hover {
  background-color: #00bfff; /* Cambio de color al pasar el mouse sobre el botón */
}

/* Imagen principal y adicionales */
.img-extra {
  width: 150px;
  height: 150px;
  margin: 10px;
}

.spinner-contenedor {
  display: none;
  flex-direction: column; /* Apilar el spinner y el texto verticalmente */
  align-items: center; /* Centrar horizontalmente */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  border: 14px solid #f3f3f3; /* Color del fondo del spinner */
  border-top: 14px solid #3498db; /* Color de la parte superior del spinner */
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner-contenedor h3 {
  color: #3498db;
}
