extends layout

block contenido
  form(id="formulario")
    input(type="text", id="texto", placeholder="palabra clave")
    input(type="text", id="pais", placeholder="localizacion")
    select(name="departamentos", id="departamentos") 
    button(type="submit", id="boton") Enviar 

  div(id="resultado", class= "card")
  div(id="paginas")